%clearfix {
    @include clearfix;
}

.clearfix {
    @extend %clearfix;
}

.vh {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}

.align-right {
	float: right;
}
.align-left {
	float: left;
}
.text-right {
	text-align: right;
}
.text-left {
	text-align: left;
}