html {
	text-size-adjust: none;
	box-sizing: border-box;
}

*, *:before, *:after {
	box-sizing: inherit;
}

body {
	height: 100%;
	margin: 0;
	color: $base-font-color;
	font-weight: $fw-light;
	font-family: $base-font-family;
	font-size: $base-font-size + px;
	line-height: 1.5;
}

img	{
	max-width: 100%;
}